* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: rgb(77, 70, 63);
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 15px;
  justify-content: space-between;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
.navbar {
  height: 80px;
  width: 100%;
  background: #6c8caa;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: red;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav-links.active {
    background: #b7b7e0;
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

  .nav-icon {
    display: flex;
  }
}
